
<div id="menu">
	<table>
		<tr>
			<td class='Td_menu'>	
				<%= link_to image_tag("entreprise_96.png", :id => 'entreprise_icon'), company_path(@company) %>			
				<br/>	
				Entreprise
			</td>
			<td class='Td_menu'>
				<%= link_to image_tag("materiaux_96.png", :id => 'materiaux_icon'), materials_path %>		
				<br/>
				Matériaux
			</td>
			<td class='Td_menu'>
				<%= link_to image_tag("salaries_96.png", :id => 'salaires_icon'), employees_path %>				
				<br/>
				Salariés
			</td>
		</tr>
		<tr>
			<td class='Td_menu'>
				<%= link_to image_tag("clients_96.png", :id => 'clients_icon'), customers_path %>
				<br/>
				Clients
			</td>
			<td class='Td_menu'>
				<%= link_to image_tag("devis_96.png", :id => 'devis_icon'), estimates_path %>			
				<br/>
				Devis
			</td>
			<td class='Td_menu'>
				<%= image_tag("facture_96.png", :id => 'facture_icon') %>	
				<br/>
				Factures
			</td>
		</tr>
	</table>
</div>
<br/><br/><br/>	