<% content_for :title do %>
	<h2 class="title"><%= t('.list_employees')%></h2>
<% end %>

<% content_for :pageMenu do %>
	<%= link_to new_employee_path, :class => "btn btn-inverse", :remote => true do %>
		<i class="icon-plus">&nbsp;&nbsp;<%= t('.new_employee') %></i> 
	<% end %>
<% end %>

<table id="employees" class="table table-hover">
  <thead>
  <tr>
    <td><%= t('.last_name') %></td>
    <td><%= t('.first_name') %></td>
    <td><%= t('.day_price') %></td>
    <td></td>
  </tr>
  </thead>
  <tbody>
	<%= render @employees %>
  </tbody>
</table>
