<%= form_for(@customer, :html => { :class => "form-horizontal", :remote => true }) do |f| %>

  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :customer_name, :class => "control-label" %>
	<div class="controls">
    	<%= f.text_field :customer_name %>
	</div>
  </div>
  
  <%= f.fields_for :address, @customer.address do |address_form| %>
	<%= render '/addresses/address_fields', :f => address_form %>
  <% end %>
 
   <div class="control-group">
		<div class="controls">
    		<%= f.submit :class => "btn btn-primary" %>
			<%= link_to t('cancel'), :back, :class => 'btn', :remote => true, :'data-dismiss' => "modal" %>
		</div>
  </div>

<% end %>
