<% content_for :title do %>
	<h2>Clients</h2>
<% end %>

<% content_for :pageMenu do %>
	<%= link_to new_customer_path, :class => "btn btn-inverse" do %>
		<i class="icon-plus">&nbsp;&nbsp;<%= t('.new_customer') %></i> 
	<% end %>
<% end %>


<div id="customer" class="container span9">
	<div id="customer_list" class="row">
		<div id="customers" class="span7" >

			<%= render @customers %>

		</div>

		<div class="span1 letters">
			<div class = "badge badge-inverse">
				<%= link_to customers_path, :remote => true do %>
					<i class="icon-th"></i>
				<% end %>
			</div>
			<% ("A".."Z").each do |letter| %>
				<div class="badge badge-inverse"><%= link_to letter, customer_path(letter), :remote => true %></div>
			<% end %>
		</div>
	</div>
	<br style="clear: both" />
	<div id="paginator">
		<%= paginate @customers, :remote => true %>
	</div>
</div>
