<% content_for :title do %>
	<%= link_to image_tag("maison_48.png", :title => "accueil"), account_home_index_path %>
<% end %>

<h1><%= t('.list_customers')%></h1>

<div id="customers" style="display: block; width: 800px; float: left;">

<%= render @customers %>

</div>

<div style="display: block; width: 50px; float: right;">
<p style="border: 1px solid black; width: 20px; margin: 1px; background-color: lightgray;"><%= link_to "...", customers_path %></p>
<% ("A".."Z").each do |letter| %>
	<p style="border: 1px solid black; width: 20px; margin: 1px; background-color: lightgray;"><%= link_to letter, customer_path(letter), :remote => true %></p>
<% end %>
</div>

<br style="clear: both" />
<%= link_to 'New Customer', new_customer_path %>
