<p>                                   
<%= f.label :address_line1 %><br />
<%= f.text_field :address_line1 %>
</p>

<p>                                 
<%= f.label :address_line2 %><br />
<%= f.text_field :address_line2 %>
</p>

<p>                                 
<%= f.label :city %><br />
<%= f.text_field :city %>
</p>

<p>                                 
<%= f.label :postal_code %><br />
<%= f.text_field :postal_code %>
</p>


<p>                                 
<%= f.label :email %><br />
<%= f.text_field :email %>
</p>

<p>                                 
<%= f.label :phone %><br />
<%= f.text_field :phone %>
</p>
