<%= nested_form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :siret %><br />
    <%= f.number_field :siret %>
  </div>
  <div class="field">	
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
	
	<%= f.check_box :remove_logo %> <%= f.label :remove_logo %><br />
    <%= f.label :logo %><br />
    <%= f.file_field :logo %>
  </div>

  <%= f.fields_for :address, @company.address do |address_form| %>
	<%= render '/addresses/address_fields', :f => address_form %>
  <% end %>

  <%= f.fields_for :accounts %>
  <p><%= f.link_to_add t('.add_an_account'), :accounts %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
