<% content_for :title do %>
	<%= link_to image_tag("maison_48.png", :title => "accueil"), account_home_index_path %>
<% end %>

<h1><%= t('.edit_company') %></h1>

<%= render 'form' %>

<%= link_to t('show'), @company %> |
<%= link_to t('back'), companies_path %>
