<% content_for :title do %>
	<h2 class="title">Information</h2>
<% end %>


<% content_for :pageMenu do %>
	<%= link_to new_account_path, :remote => true, :class => "btn btn-inverse" do %>
			<i class="icon-plus">&nbsp;&nbsp;<%= t('.new_account') %></i>		
	<% end %>
<% end %>


<div id="company" class="container">
		
	<p id="notice"><%= notice %></p>

	<div class="row">
		<div class="span5">
  		<span class="label" title="Information générale de votre entreprise. Vous pouvez modifer le logo à partir de cette interface.">Identité entreprise</span>
  		<span class = "content">
			<table class="table">
				<tr>
					<td><div id="company_logo" class="tumbnails"><%= image_tag @company.logo_url.to_s if @company.logo_url %></div></td>
					<td>
						<div class="bnt-group">
						<%= link_to delete_logo_path, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => "btn btn-info", :id => 'delete_logo_btn' do %>
							<i class="icon-trash"></i>
						<% end %>
						<button  id = "upload_logo_button" class="btn btn-info" title="change logo" data-toggle="modal" data-target="#uploadModal"><i class="icon-picture"></i></button>	
							
						<%= image_tag 'ajax-loader.gif', :class => 'hidden', :id => 'delete_logo_loader' %>						
						</div>
						
								
						<%= render 'file_upload'%>					
								
					</td>					
				</tr>
				<tr>
					<td><span class="header">Nom de la société:</span></td> 
					<td><%= @company.company_name %></td>
				</tr>
				<tr>
					<td><span class="header">Numéro de siret:</span></td>
					<td><%= @company.siret %></td>
				</tr>
			</table>
		</span>
		</div>	
		<div class="span4">
			<span class="label">Address</span>
			<div class="hero-unit"><%= render "/addresses/address", :address => @company %></div>			
		</div>
	</div>
	
	<div class="row">
		<div class="span9">
		<span class="content">
		<table id="company_account_list" class="table table-hover">
			<thead>
				<tr>
					<td>Comptes</td>
					<td>Created On</td>
				</tr>
			</thead>
			<tbody>
					<!-- Password change form -->						
					<%= render @company.accounts %>
			
			</tbody>
		</table>
		</span>
		<span class="footer" title="Liste des comptes qui peuvent se connecter á l'interface">Comptes</span>
		</div>
	</div>


<%# link_to t('edit'), edit_company_path(@company) %> 
<%# link_to t('back'), companies_path %>
