<% content_for :title do %>
	<%= link_to image_tag("maison_48.png", :title => "accueil"), account_home_index_path %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b><%= t('.siret')%></b>
  <%= @company.siret %>
</p>

<p>
  <b><%= t('.company_name')%></b>
  <%= @company.company_name %>
</p>

<p>
  <b><%= t('.logo')%></b>
  <%= image_tag @company.logo_url.to_s if @company.logo_url %>	
</p>

<%= render "/addresses/address", :address => @company %>

<div class="comptes">
<ul>
<% @company.accounts.each do |account| %>
		<li><%= account.email %></li>
<% end %>
</ul>
</div>
<br />

<%= link_to t('edit'), edit_company_path(@company) %> |
<%= link_to t('back'), companies_path %>
