
<%= nested_form_for(@worksite, remote: true) do |f| %>
  <% if @worksite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worksite.errors.count, "error") %> prohibited this worksite from being saved:</h2>

      <ul>
      <% @worksite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.hidden_field :statement_id, :value => @worksite.statement_id %>

  <div id="reason" class="control-group">
    <%= f.label :reason, :class => "control-label" %>
    <%= f.text_field :reason %>
  </div>

  <div id="description" class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
    <%= f.text_area :description %>
    </div>
  </div>

  <div id="work_start" class="control-group">
    <%= f.label :work_start_on, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :work_start_on, :value => @worksite.work_start_on ? l(@worksite.work_start_on) : nil %>
    </div>
  </div>

  <div id="work_end" class="control-group">
    <%= f.label :work_end_on, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :work_end_on, :value => @worksite.work_end_on ? l(@worksite.work_end_on) : nil %>
    </div>
  </div>

  <!--  MATERIALS -->
  <hr />
  <%= f.fields_for :items do |item_field| %>
		<%= render "/materials/item_fields", :f => item_field %>
  <% end %>

  <p><%= f.link_to_add t('.add_a_material'), :items %></p>

  <!-- EMPLOYEES -->
  <hr />
  <%= f.fields_for :employee_tasks do |item_field| %>
    <%= render "/employees/item_fields", :f => item_field %>
  <% end %>


  <p><%= f.link_to_add t('.add_an_employee'), :employee_tasks %></p>


  <div class="actions">
      <%= f.submit :class => "btn btn-primary" %>
      <%= link_to t('cancel'), :back, :class => 'btn', :remote => true, :'data-dismiss' => "modal" %>
  </div>
<% end %>