<div clase="worksite" id="worksite-<%= worksite.id %>">
	<br /><br />
	<div class="worksite_reason"><%= worksite.reason %></div><div class="worksite_action" style="float: right;"> 
		<%= link_to image_tag('edit-16.png'), edit_worksite_path(worksite), :remote => true, :title => "Edit worksite" %> 
		<%= link_to image_tag('plein-corbeille-16.png'), worksite_path(worksite), :remote => true, :confirm => "Are you sure?", :method => :delete, :title => "delete worksite" %>	
	</div>

	<br style="break: both;" />
	<hr />
	<p style="text-align: left;"><%= worksite.description %></p>

    <hr />
	<table  class="features-table">
		<thead>
			<tr>
			<td scope ="col" id="estimate_customer_name_header">Material</td>
		    <td scope ="col" id="estimate_total_header">Quantity</td>
		    <td scope ="col" id="estimate_nb_days_header">Total TF</td>
			<td scope ="col" id="estimate_create_at_header">TVA</td>
			</tr>
		</thead>
		<tbody>
	<% worksite.items.each do |material| %>
		<tr>
			<td>
				<%= material.name %>
			</td>
			<td>
				<%= material.quantity %>
			</td>
			<td>
				<%= number_to_currency(material.totalTF) %>
			</td>
			<td>
				<%= number_to_percentage(material.tva) %>
			</td>
		</tr>
	<% end %>
		</tbody>
	 <!-- Table Footer -->
	 <tfoot>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tfoot>

	</table>

	<hr />
	<table class="table">
		<thead>
			<tr>
				<td>First Name</td>
				<td>Last Name</td>
				<td>Cost</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<% worksite.employee_tasks.each do |employee| %>
			<tr id="employee_<%= employee.id %>">
				<%= hidden_field_tag "employee_#{employee.id}", employee.employee.id %>
	    		<td><%= employee.employee.last_name %></td>
	    		<td><%= employee.employee.first_name %></td>
	    		<td><%= employee.employee.day_price %></td>
	    		<td><%= link_to t('destroy'), employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

</div>

