
<address>					
	<%= address.address_line1 %><br />
	<%= address.address_line2 %><br />
	<%= address.postal_code %></span>,<span><%= address.city %>
	<br />
	<b><%= t('.phone') %></b><span id="phone"><%= address.phone %></span> <br />
	<b>Fax: </b> <span id="fax"><%= address.fax %></span>	<br />
	<b><%= t('.email') %></b> <span id="email"><%= address.email %></span> <br />
</address>