<div class="address">
	<b>Address ligne 1: </b>
	<%= address.address.address_line1 %>
	<br />
	<b>Address ligne 2: </b>
	<%= address.address.address_line2 %>
	<br />
	<b>Ville: </b>
	<%= address.address.city %>
	<br />
	<b>Code postal</b>
	<%= address.address.postal_code %>
	<br />
	<b>E-Mail: </b>
	<%= address.address.email %>
	<br />
	<b>Telephone: </b>
	<%= address.address.phone %>	
</div>