<% if category.sub_categories.count > 0 %>
	<li>	
		<%= link_to category.name, material_category_path("#{ category.name }"), :remote => true, :id => "node_#{category.id}" %>

		<ul>
			<%= render :partial => '/categories/category', :collection => category.sub_categories, :as => :category if category.sub_categories.count > 0 %>
<!-- 
			<% category.materials.each do |material| %>
			 	<li><span><b><%= material.name %></b>:&nbsp; <%= material.unit_priceTF %></span></li>
			<% end %>
-->
		</ul>
	</li>		
<% else %>
	<li>
		<%= link_to category.name, material_category_path("#{ category.name }"), :remote => true, :id => "node_#{category.id}" %>
 %> 

<!--
		<ul>
			<% category.materials.each do |material| %>
			 	<li><span><b><%= material.name %></b>:&nbsp; <%= material.unit_priceTF %></span></li>
			<% end %>
		</ul>
-->
	</li>

	
<% end %>
	