<%= form_for(@material, :html => {:remote => true, :class => "horizontal-form"}) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :name %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :unit_priceTF, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :unit_priceTF %>
    </div>
  </div>

   <div class="control-group">
    <%= f.label :category, :class => "control-label" %>
    <div class="controls">
    <%= f.select :category_id, Category.all.collect {|c| [c.name, c.id]}, :include_blank => true %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
    <%= f.submit %>
    </div>  
  </div>
<% end %>
