

  <tr id="material_<%= material.id %>">
	<%= hidden_field_tag "material_#{material.id}", material.id %>
    <td><%= material.name %></td>
    <td><%= number_to_currency(material.unit_priceTF) %></td>
    <td><%= material.category.name if material.category %></td>
    <td>
		<%= link_to edit_material_path(material), :title => "Editer" do %>
				<i class="icon-info-sign"></i>
		<% end %>
		<%= link_to material, method: :delete, data: { confirm: 'Are you sure?' }, :title =>"Supprimer" do %>
			<i class=" icon-remove-sign"></i>
		<% end %>
	</td>
  </tr>
