<% content_for :title do %>
	<h1><%= t('.list_materials') %></h1>
<% end %>

<% content_for :pageMenu do %>
	<%= link_to new_category_path, :remote => true, :class => "btn btn-inverse" do %>
		<i class="icon-plus">&nbsp;&nbsp;<%= t('.new_category') %></i> 
	<% end %>
	<%= link_to new_material_path, :remote => true, :class => "btn btn-inverse" do %>
		<i class="icon-plus">&nbsp;&nbsp;<%= t('.new_material') %></i> 
	<% end %>
<% end %>

<div class="row">
	<div id="materials" class="span6">
	
	<table id="materials" class="table">
	  <thead>
	  <tr>
	    <td><%= t('.name') %></td>
	    <td><%= t('.unit_pricetf') %></td>
		<td><%= t('.category') %></td>
	    <td>Menu</td>
	  </tr>
		</thead>
		<tbody>
		
		<%= render @materials %>		

		</tbody>
		<tfoot>
			<tr><td colspan="6"><%= paginate @materials, :remote => true %></td></tr>
		</tfoot>
		</table>

	</div>
	<div id="categories" class="span4">
		<%= render '/categories/tree' %>
	</div>
</div>

<br style="clear: both;">

