<% content_for :title do %>
	<%= link_to image_tag("maison_48.png", :title => "accueil"), account_home_index_path %>
<% end %>

<h1><%= t('.list_materials') %></h1>

<div id="materials">
<table>
  <tr>
    <th><%= t('.name') %></th>
    <th><%= t('.unit_pricetf') %></th>
	<th><%= t('.category') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @materials.each do |material| %>
  <tr>
    <td><%= material.name %></td>
    <td><%= material.unit_priceTF %></td>
    <td><%= material.category.name if material.category %></td>
    <td><%= link_to t('show'), material %></td>
    <td><%= link_to t('edit'), edit_material_path(material) %></td>
    <td><%= link_to t('destroy'), material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to t('.new_material'), new_material_path %>

</div>
<div id="categories">
	<%= render '/categories/tree' %>
</div>

<br style="clear: both;">

